.colorBox {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  border: 5px solid antiquewhite;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.closeBox{
  position:absolute;
  right:10px;
  top:10px;
}
.hexTextField {
  border: 3px solid antiquewhite;
  border-radius: 7px;
  padding: 5px;
  background-color: antiquewhite;
}
.containerStyle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.inputBox {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  border: 5px solid antiquewhite;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.containerMain {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hexInputField {
  text-align: center;
  border-radius: 2px;
  border: 0 solid antiquewhite;
}

